<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% f.label :input %>
    <%= f.text_field :input, placeholder: "Enter here" %>
  </div>
  <div class="field">
    <%= f.label :from %>
    <%= f.select(:from, options_for_select([["Don't know", nil],['English', 'en'], ['Spanish', 'es']])) %>
  </div>
  <div class="field">
    <%= f.label :to %>
    <%= f.select(:to, options_for_select([['English', 'en'], ['Spanish', 'es']])) %>
  </div>
  <div class="actions">
    <%= f.submit "Translate Now"%>
  </div>
<% end %>
