<p id="notice"><%= notice %></p>

<p>
  <strong>Input:</strong>
  <%= @entry.input %>
</p>

<p>
  <strong>From:</strong>
  <%= @entry.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @entry.to %>
</p>

<p>
  <strong>Output:</strong>
  <%= @entry.output %>
</p>

<%= link_to 'Back', translate_path %>
