<p id="notice"><%= notice %></p>
</br></br>
<p>
  <h3><%= @entry.input %></h3>
   in <%= @entry.language_name(@entry.from) %> is 
   <h3><%= @entry.output %></h3>
    in <%= @entry.language_name(@entry.to) %>
</p>
</br></br>
<%= link_to 'Back', translate_path %>